
<% if alert %>
	<div class="alert alert-danger">
	    <a href="#" class="close" data-dismiss="alert">&times;</a>
	    <center><strong>Erro!</strong> <%= alert %></center>
	</div>
<% end %>

      <!-- Intro Block
      ============================================ -->
      <div class="intro-block mgb-20">
      
        <!-- Container -->
        <div class="container">

          <!-- Slider Wrapper -->
          <div class="intro-slider">
          
            <!-- BxSlider -->
            <div class="bxslider" data-call="bxslider" data-options="{pager:false, mode:'fade'}">
            
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="/images/slides/slide1.jpg" alt=""/><!-- slider image + background -->
                <!-- Text -->
                <div class="text">
                  <div class="vcenter">
                    <div class="vcenter-this text-block">
                      <h5 class="bx-layer" data-anim="bounceInLeft" data-dur="1000" data-delay="700">from 5th March - 26 March</h5>
                      <h1 class="bx-layer" data-anim="bounceInDown" data-dur="1000" data-delay="100">fresh from the runway</h1><br/>
                      <p class="bx-layer" data-anim="bounceInRight" data-dur="1000" data-delay="500">Helena is a freelance fashion house specialisings in print designs and fabrics.</p>
                      <a class="btn btn-base bx-layer" data-anim="bounceInUp" data-dur="1000" data-delay="1000">shop now</a>
                    </div>
                  </div>
                </div>
                <!-- /Text -->
              </div>
              <!-- /Slide -->
              
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="/images/slides/slide2.jpg" alt=""/><!-- slider image + background -->
                <!-- Text -->
                <div class="text">
                  <div class="vcenter">
                    <div class="vcenter-this text-block">
                      <h5 class="bx-layer" data-anim="bounceInLeft" data-dur="1000" data-delay="700">from 5th March - 26 March</h5>
                      <h1 class="bx-layer" data-anim="bounceInDown" data-dur="1000" data-delay="100">designer clothes only</h1><br/>
                      <p class="bx-layer" data-anim="bounceInRight" data-dur="1000" data-delay="500">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur veli..</p>
                      <a class="btn btn-white bx-layer" data-anim="bounceInUp" data-dur="1000" data-delay="1000">shop now</a>
                    </div>
                  </div>
                </div>
                <!-- /Text -->
              </div>
              <!-- /Slide -->
              
            
            </div>
            <!-- /BxSlider -->
            
          </div>
          <!-- Slider Wrapper -->

        </div>
        <!-- /Container -->
      
      </div>
      <!-- /Intro Block
      ============================================ -->
      
      <!-- Content Block
      ============================================ -->
      <div class="content-block">
      
        <!-- Container -->
        <div class="container no-pad-t">

          <!-- Product Tabs -->
          <div class="product-tabs">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-line-bottom line-pcolor nav-tabs-center case-u" role="tablist">
              <li class="active"><a href="#tab-latest" data-toggle="tab">Recentes</a></li>
              <li><a href="#tab-featured" data-toggle="tab">Destaques</a></li>
            </ul>
            <!-- /Nav Tabs -->

            <!-- Tab panes -->
            <div class="tab-content tab-no-borders">
            
              <!-- Tab Latest -->
              <div class="tab-pane active" id="tab-latest">
              
                <!-- Row -->
                <div class="row">
                
                  <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                  
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
                      </div>
                      <!-- Image -->
                      
                      <span class="label label-sale">sale</span>
                      
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>
                                               
                        <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price">R$[preco]</span>
                        </div>
                        <!-- /Price Box -->
                        
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>	
                          <a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                  
                  </div>
                  <!-- /Col -->
                  
                  <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                  
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="product.html" class="main"><img src="https://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEgznuShMhvflDOGJG68Didsh4K9W1jtmhA9yIPqKZ3kyJVaaV6YJDaVooljoWCZq7cU3UY7l9O9RcAm-4YWVYrkkMI0dFsjRRLbYMfbh09H1/360fx360f" alt=""></a>
                      </div>
                      <!-- Image -->
                      
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="product.html">Caixa Cromática</a>
						<span style="color:black">Qualidade básica</span>

                        
                        <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price">R$ 5,00</span>
                        </div>
                        <!-- /Price Box -->
                        
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>	
                          <a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_0.actions[0].link"><i class="icon fa fa-eye"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                  
                  </div>
                  <!-- /Col -->
                  
                  <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                  
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="product.html" class="main"><img src="https://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz56P7fiDzRyTQXJVfdhUfQp4A3-EBg_7cNqQdqJ-7oULlnx4IbPZ7YkNN9IGMnSC6KBYQ_4v0kw1PdZJ5KNqS--2Hy4aWgPWRPq_XVExrEYKUC6xQ/360fx360f" alt=""></a>
                      </div>
                      <!-- Image -->
                      
                      <span class="label label-hot">popular</span>
                      
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="product.html">Caixa Cromática</a>
						<span style="color:black">Qualidade básica</span>

                        
                        <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price">$840</span>
                        </div>
                        <!-- /Price Box -->
                        
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>	
                          <a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_0.actions[0].link"><i class="icon fa fa-eye"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                  
                  </div>
                  <!-- /Col -->
                  
                  <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                  
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="product.html" class="main"><img src="https://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz56I_OKMyJYcxPSPqFNVfg14jfhDCM7_cpcWNak8L5ILF3ot4SXMeMtY95MTcDZCPbSNACpuUo6hvNYfJCLoS3vjn_taDtZUw2rpDytVfjhQg/360fx360f" alt=""></a>
                      </div>
                      <!-- Image -->
                      
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="product.html">Caixa Cromática</a>
						<span style="color:black">Qualidade básica</span>

                        
                        <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price">$1820</span>
                        </div>
                        <!-- /Price Box -->
                        
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>	
                          <a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instanceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                  
                  </div>
                  <!-- /Col -->
                
                  <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                  
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="product.html" class="main"><img src="https://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz56P7fiDzRyTQXJVfdhTuA49g3-Nio37M52Wei69qkBLBLqtoPOM7YlYdpLTJXZUqeDMwz97kM71qdYfZTaqCrujyW6bG4OXxbj5Ctaz2pFOJvI/360fx360f" alt=""></a>
                      </div>
                      <!-- Image -->
                      
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="product.html">Caixa Cromática</a>
						<span style="color:black">Qualidade básica</span>
                        
                        <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price">$675</span>
                        </div>
                        <!-- /Price Box -->
                        
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>	
                          <a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_0.actions[0].link"><i class="icon fa fa-eye"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                  
                  </div>
                  <!-- /Col -->
                  
                  <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                  
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="product.html" class="main"><img src="https://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz5wOuqzNQhqKzvAALlRUvAuywD1NiM2-MZ3a9u_8LMSFlC-9tWTLbF6NdlNSsTWU_6HNw78vhg-h_AIfJeAoC6-iyi6PT8JUke-_2kGnu6Z-uw8FmO3LEw/360fx360f" alt=""></a>
                      </div>
                      <!-- Image -->
                      
                      <span class="label label-sale">sale</span>
                      
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="product.html">Caixa Cromática</a>
						<span style="color:black">Qualidade básica</span>

                        
                        <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price price-old">$1550</span><span class="price">$1220</span>
                        </div>
                        <!-- /Price Box -->
                        
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>	
                          <a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_0.actions[0].link"><i class="icon fa fa-eye"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                  
                  </div>
                  <!-- /Col -->
                  
                  <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                  
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="product.html" class="main"><img src="https://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz52YOLkDzRyTQbXDaxbSMoo9QHiNipm6ZZcXNK34aI5JV2t49fYOuV5Yd9NG8XWXaSBYVj66R0xgfVce53foSq923y4MzgJXRDj-DhSnPjH5OWmf9awJA/360fx360f" alt=""></a>
                      </div>
                      <!-- Image -->
                      
                      
                      <span class="label label-sale">sale</span>
                      
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="product.html">Caixa Cromática</a>
						<span style="color:black">Qualidade básica</span>
                        
                        <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price price-old">$3350</span><span class="price">$2050</span>
                        </div>
                        <!-- /Price Box -->
                        
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>	
                          <a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_0.actions[0].link"><i class="icon fa fa-eye"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                  
                  </div>
                  <!-- /Col -->
                  
                  <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                  
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="product.html" class="main"><img src="https://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz5wOuqzNQhhfg3SPqhHY_M15g3_HRgw59VmVduJ-7IBIUiA6NOEZOUyZNxEGMjYX_eDZg6s7E8xgqQOfZSIoCrvj3u9azwPXkC6rzkHzeaA6awr3DgaDfI7XQ/360fx360f" alt=""></a>
                      </div>
                      <!-- Image -->
                      
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="product.html">Caixa Cromática</a>
						<span style="color:black">Qualidade básica</span>
                        
                        <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price">$8400</span>
                        </div>
                        <!-- /Price Box -->
                        
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>	
                          <a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_0.actions[0].link"><i class="icon fa fa-eye"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                  
                  </div>
                  <!-- /Col -->
                
                </div>
                <!-- /Row -->
              
              </div>
              <!-- /Tab Latest -->
              
              <!-- Tab Featured -->
              <div class="tab-pane" id="tab-featured">
              
                <!-- Row -->
                <div class="row">
                
                  <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                  
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz55Pfm6PghkZzvACLpRUrg15wH-ADQN5cJnXcK7yLcHO1u6qteSZrcvY9hNSsPRUveEbg_-ux1sg6BaKcDf8iO9jHngOmcJXhC-_Wka2LjQuG6ZPek/360fx360f" alt=""></a>
                      </div>
                      <!-- Image -->
                      
                      <span class="label label-sale">sale</span>
                      
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>
                                               
                        <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price">R$[preco]</span>
                        </div>
                        <!-- /Price Box -->
                        
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>	
                          <a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                  
                  </div>
                  <!-- /Col -->
                  
                  <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                  
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="product.html" class="main"><img src="https://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEgznuShMhvflDOGJG68Didsh4K9W1jtmhA9yIPqKZ3kyJVaaV6YJDaVooljoWCZq7cU3UY7l9O9RcAm-4YWVYrkkMI0dFsjRRLbYMfbh09H1/360fx360f" alt=""></a>
                      </div>
                      <!-- Image -->
                      
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="product.html">Caixa Cromática</a>
						<span style="color:black">Qualidade básica</span>

                        
                        <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price">R$ 5,00</span>
                        </div>
                        <!-- /Price Box -->
                        
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>	
                          <a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_0.actions[0].link"><i class="icon fa fa-eye"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                  
                  </div>
                  <!-- /Col -->
                  
                  <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                  
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
                      </div>
                      <!-- Image -->
                      
                      <span class="label label-hot">popular</span>
                      
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="product.html">Caixa Cromática</a>
						<span style="color:black">Qualidade básica</span>

                        
                        <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price">$840</span>
                        </div>
                        <!-- /Price Box -->
                        
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>	
                          <a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_0.actions[0].link"><i class="icon fa fa-eye"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                  
                  </div>
                  <!-- /Col -->
                  
                  <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                  
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz59PfWwIzJxdwr9AK1hX-cj5xztBSs78sJna8S_-60DO2Oz7dWed99wYZobSt7RCfPTZF-v7xo7haVcKpeK9iu5iy64OGZcXxLo8j8Mm7PS7rE6hGhAXTHu-pZdhOiy/360fx360f" alt=""></a>
                      </div>
                      <!-- Image -->
                      
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="product.html">Caixa Cromática</a>
						<span style="color:black">Qualidade básica</span>

                        
                        <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price">$1820</span>
                        </div>
                        <!-- /Price Box -->
                        
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>	
                          <a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instanceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                  
                  </div>
                  <!-- /Col -->
                
                  <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                  
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="product.html" class="main"><img src="https://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz56P7fiDzRyTQXJVfdhTuA49g3-Nio37M52Wei69qkBLBLqtoPOM7YlYdpLTJXZUqeDMwz97kM71qdYfZTaqCrujyW6bG4OXxbj5Ctaz2pFOJvI/360fx360f" alt=""></a>
                      </div>
                      <!-- Image -->
                      
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="product.html">Caixa Cromática</a>
						<span style="color:black">Qualidade básica</span>
                        
                        <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price">$675</span>
                        </div>
                        <!-- /Price Box -->
                        
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>	
                          <a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_0.actions[0].link"><i class="icon fa fa-eye"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                  
                  </div>
                  <!-- /Col -->
                                  
                
                </div>
                <!-- /Row -->
              
              </div>
              <!-- /Tab Featured -->
            
            </div>
            <!-- /Tab Panes -->
            
          </div>
          <!-- /Product Tabs -->
          
        </div>
        <!-- /Container -->
        
      </div>
      <div class="content-block" >
      
        <!-- Container -->
        <div class="container cont-md">
        
          <!-- Section Title -->
          <div class="section-title line-pcolor">
            <h2>nossos parceiros</h2>
            <p>Conheça todos os parceiros da SteamClub, que ajudam a trazer esta plataforma para vocês.</p>
          </div>
          <!-- /Section Title -->
          
          <!-- Slider Wrapper -->
          <div class="brand-slider">
          
            <!-- BxSlider -->
            <div class="bxslider" data-call="bxslider" data-options="{pager:false, slideMargin:20}" data-breaks="[{screen:0, slides:2}, {screen:460, slides:3}, {screen:768, slides:5}]">
              
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="/images/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="/images/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->
              
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="/images/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->
              
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="/images/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->
              
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="/images/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->
              
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="/images/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->
              
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="/images/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->
            </div>
            <!-- /BxSlider -->
            
          </div>
          <!-- Slider Wrapper -->
        </div>
        <!-- /Container -->
      
      </div>
      <!-- Content Block
      ============================================ -->
