<script type="text/javascript" src="/uikit/js/jscroll.js"></script>
<script>
$(document).ready(function() {
	$(".wrapper").jScroll({
		lockDirection: false,
		fadeScrollbar : true
	});
});
</script>
<!-- Intro Block
============================================-->
<section class="intro-block intro-page boxed-section cover-3-bg overlay-dark-m">

	<!-- Container -->
	<div class="container">
		<!-- Section Title -->
		<div class="section-title invert-colors no-margin-b">
			<h2>Loja</h2>
			<p class="hidden-xs">
				Compre itens de Counter-Strike: Global Offensive de outros usuários.
			</p>
		</div>
		<!-- /Section Title -->
	</div>
	<!-- /Container -->

</section>
<!-- /Intro Block
============================================-->

<!-- Page Info Block
============================================-->
<section class="page-info-block boxed-section">

	<!-- Container -->
	<div class="container cont-pad-x-15">

		<!-- Breadcrumb -->
		<ol class="breadcrumb pull-left">
			<li>
				<a href="#"><i class="ti ti-home"></i></a>
			</li>
			<li>
				<a href="#">Loja</a>
			</li>
		</ol>
		<!-- /Breadcrumb -->

	</div>
	<!-- /Container -->

</section>
<!-- /Page Info  Block
============================================-->

<!-- Content Block
============================================-->
<section class="content-block default-bg">
	<!-- Container -->
	<div class="container cont-main no-pad-t">
		<div class="product-grid row grid-20 mgb-20">
			
			<div class="wrapper">
  			<div class="scroller">

			<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img class="img-responsive" src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->
			<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img class="img-responsive" src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->

			<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->

			<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->

			<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->
			<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->

			<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->

			<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->
			<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->
			<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->

			<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->

			<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->
			
						<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->
			
						<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->
			
						<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->
			
						<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->
			
						<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->
			
						<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->
			
						<!-- Col -->
			<div class="col-sm-6 col-md-3">

				<!-- product -->
				<div class="product clearfix">

					<!-- Image -->
					<div class="image">
						<a href="product.html" class="main"><img src="http://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz54LrTgMQhmfzvGCKFTU_s-yxjgCDM318tqU9-iyLcHO1u6qteQN7IpY9BOTZGFX6KPYQivvk5tgfRUfJCN8iO8iS-_M2cIDhe--20a2LjQBlnfwm8/360fx360f" alt=""></a>
					</div>
					<!-- Image -->

					<span class="label label-sale">sale</span>

					<!-- Details -->
					<div class="details">

						<a class="title" href="product.html">(name)</a>
						<span style="color:black">(rgInventory."itemid"_0.tags[5].name)</span>

						<!-- buttons -->
						<p>
							<div class="btn-group">
								<a class="btn btn-outline btn-default-hover" href="rgDescriptions."classid"_"instaceid".actions[0].link"><i class="icon fa fa-eye"></i></a>
								<a class="btn btn-outline btn-base-hover" href="cart.html">comprar</a>
								<a class="btn btn-outline btn-default-hover" href="#">R$ 42,32</a>
							</div>
							<!-- /buttons -->

					</div>
					<!-- /Details -->

				</div>
				<!-- /product -->

			</div>
			<!-- /Col -->
			
			<a href="loja">next</a>
</div></div>

		</div>

		<!-- Row -->
		<div class="row">
			<div class="main-col col-sm-9 col-md-9">
			</div>
			<div class="side-col col-sm-3 col-md-3">
				<div class="side-widget no-margin-l">
								<!-- Pagination -->
              <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
              <!-- /Pagination -->
				</div>
			</div>

		</div>

		<!-- /Row -->

	</div>
	<!-- /Container -->
</section>
<!-- /Content Block
============================================-->
