      <!-- Intro Block
      ============================================-->
      <section class="intro-block intro-page boxed-section cover-3-bg overlay-dark-m">
      
        <!-- Container -->
        <div class="container">     
          <!-- Section Title -->
          <div class="section-title invert-colors no-margin-b">
            <h2>Ofertas ativas</h2>
            <p class="hidden-xs">Gerencie os seus itens que estão sendo vendidos no site.</p>
          </div>
          <!-- /Section Title -->
        </div>
        <!-- /Container -->
      
      </section>
      <!-- /Intro Block
      ============================================-->
      
      <!-- Page Info Block
      ============================================-->
      <section class="page-info-block boxed-section">
      
        <!-- Container -->
        <div class="container cont-pad-x-15"> 

          <!-- Breadcrumb -->
          <ol class="breadcrumb pull-left">
            <li><a href="#"><i class="ti ti-home"></i></a></li>
            <li><a href="#">Ofertas ativas</a></li>
          </ol>
          <!-- /Breadcrumb --> 

        </div>
        <!-- /Container -->
      
      </section>
      <!-- /Page Info  Block
      ============================================-->
      
      <!-- Content Block
      ============================================-->
      <section class="content-block default-bg">
        <!-- Container -->
			<div class="container cont-main no-pad-t">
          <!-- Row -->
          <div class="row">
          	<div class="alert alert-info">
			    <a href="#" class="close" data-dismiss="alert">&times;</a>
			    <center><strong>Você possui ofertas de troca pendentes na sua Steam!</strong><br> Caso você já tenha a aceitado a proposta, clique no botão "Confirmar troca". O sistema checa a cada 5 minutos se você aceitou, utilize o botão para concluir a operação imediatamente. </center>
			</div>
		    <table class="table table-striped custab">
		    <thead>
		        <tr>
		            <th>ID:</th>
		            <th>Data:</th>
		            <th>Status:</th>
		            <th>Item:</th>
		            <th class="text-center"></th>
		        </tr>
		    </thead>
		            <tr>
		                <td>3</td>
		                <td>11/05/2015 11:17</td>
		                <td>Pendente</td>
		                <td>MAC-10 | Candy Apple</td>
		                <td class="text-right">
		                	<a class="btn btn-outline" ><i class="fa icon-ok"></i>Confirmar troca</a>
		                	<a class="btn btn-outline" ><i class="fa fa fa-shopping-cart"></i></a>
		                	<a class="btn btn-outline" id="editar"><i class="fa fa-pencil"></i></a>
		                	<a class="btn btn-outline" data-toggle="modal" data-target="#excluir" ><i class="fa fa-close"></i></a>
		                	
		            </tr>
		            <tr>
		                <td>2</td>
		                <td>11/05/2015 10:42</td>
		                <td>Vendendo</td>
		                <td>UMP-45 | Urban DDPAT</td>
						<td class="text-right">
		                	<a class="btn btn-outline" ><i class="fa fa fa-shopping-cart"></i></a>
		                	<a class="btn btn-outline" id="example"><i class="fa fa-pencil"></i></a>
		                	<a class="btn btn-outline" data-toggle="modal" data-target="#excluir"><i class="fa fa-close"></i></a></td>
		            </tr>
		            <tr>
		                <td>1</td>
		                <td>10/05/2015 22:17</td>
		                <td>Vendendo</td>
		                <td>P250 | Valence</td>
						<td class="text-right">
		                	<a class="btn btn-outline" ><i class="fa fa fa-shopping-cart"></i></a>
		                	<a class="btn btn-outline" id="example"><i class="fa fa-pencil"></i></a>
		                	<a class="btn btn-outline" data-toggle="modal" data-target="#excluir"><i class="fa fa-close"></i></a></td>
		            </tr>            
		    </table>

    <div class="legendabox">
    <div class="legenda"><i class="fa fa fa-shopping-cart"></i>  Visitar página de venda</div>
    <div class="legenda"><i class="fa fa-pencil"></i>  Editar a descrição, valor ou optar por destaque</div>
    <div style="padding-bottom:5px;padding-top:5px;"><i class="fa fa-close"></i>  Cancelar venda e requerer item de volta</div>
	</div>

          </div>
          
          <!-- /Row -->
        
        </div>
        <!-- /Container -->
    </section>
    <!-- /Content Block
    ============================================-->
<!-- Modal -->
<div class="modal fade" id="excluir" tabindex="-1" role="dialog" aria-labelledby="excluirLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Deseja prosseguir?</h4>
      </div>
      <div class="modal-body">
        Você realmente deseja parar a venda para este item e receber-lo de volta? Caso sim, o seu item será enviado por uma proposta de troca quando o sistema estiver menos ocupado. Selecione Cancelar para continuar a venda deste item.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-default">Prosseguir</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $("#editar").popover({
        placement: 'bottom',
        html: 'true',
        title : '<span class="text-info"><strong>Editando item:</strong></span>'+'<button type="button" id="close" class="close" onclick="$(&quot;#editar&quot;).popover(&quot;hide&quot;);">&times;</button>',
        content : '<center><label class="checkbox-inline"><input value="" type="checkbox"><a>Destacar item</a></label>&nbsp;<a href="#"><i class="fa fa-question"></a></i></center><br><div class="input-group-addon"><i class="fa fa-money"></i></div><input class="form-control" placeholder="R$: " type="number" step="0.01" min="1" ><div class="input-group-addon"><i class="fa fa-comments"></i></div><textarea class="form-control" id="obs" rows="4" cols="36" style="color:#999999">Observações: </textarea><button class="btn btn-primary btn-bigger btn-block">Salvar</button>'
    });
});  
 
</script>