      <!-- Intro Block
      ============================================-->
      <section class="intro-block intro-page boxed-section page-bg overlay-dark-m">
      
        <!-- Container -->
        <div class="container">     
          <!-- Section Title -->
          <div class="section-title invert-colors no-margin-b">
            <h2>Ofertas ativas</h2>
            <p class="hidden-xs">Gerencie os seus itens que estão sendo vendidos no site.</p>
          </div>
          <!-- /Section Title -->
        </div>
        <!-- /Container -->
      
      </section>
      <!-- /Intro Block
      ============================================-->
      
      <!-- Page Info Block
      ============================================-->
      <section class="page-info-block boxed-section">
      
        <!-- Container -->
        <div class="container cont-pad-x-15"> 

          <!-- Breadcrumb -->
          <ol class="breadcrumb pull-left">
            <li><a href="#"><i class="ti ti-home"></i></a></li>
            <li><a href="#">Ofertas ativas</a></li>
          </ol>
          <!-- /Breadcrumb --> 

        </div>
        <!-- /Container -->
      
      </section>
      <!-- /Page Info  Block
      ============================================-->
      
      <!-- Content Block
      ============================================-->
      <section class="content-block default-bg">
        <!-- Container -->
			<div class="container cont-main no-pad-t">
          <!-- Row -->
          <div class="row">
          	<div class="alert alert-info">
			    <a href="#" class="close" data-dismiss="alert">&times;</a>
			    <center><strong>Você possui ofertas de troca pendentes na sua Steam!</strong><br> Caso você já tenha a aceitado a proposta, clique no botão "Confirmar troca". O sistema checa a cada 5 minutos se você aceitou, utilize o botão concluir a operação imediatamente. </center>
			</div>
		    <table class="table table-striped custab">
		    <thead>
		        <tr>
		            <th>ID:</th>
		            <th>Data:</th>
		            <th>Status:</th>
		            <th>Item:</th>
		            <th class="text-center"></th>
		        </tr>
		    </thead>
		            <tr>
		                <td>3</td>
		                <td>11/05/2015 11:17</td>
		                <td>Pendente</td>
		                <td>MAC-10 | Candy Apple</td>
		                <td class="text-right">
		                	<a class="btn btn-outline" ><i class="fa icon-ok"></i>Confirmar troca</a>
		                	<a class="btn btn-outline" alt="Visualizar página de venda"><i class="fa fa-shopping-cart"></i></a>
		                	<a class="btn btn-outline" data-toggle="dropdown" ><i class="fa fa-gears"></i></a>
		                	<!-- Dropdown Menu -->
			                  <ul class="dropdown-menu pull-right">
			                    <li><a href="#">account home</a></li>
			                    <li><a href="#">order history</a></li>
			                    <li><a href="#">profile</a></li>
			                  </ul>
			                 <!-- /Dropdown Menu -->
		                </td>
		            </tr>
		            <tr>
		                <td>2</td>
		                <td>11/05/2015 10:42</td>
		                <td>Vendendo</td>
		                <td>UMP-45 | Urban DDPAT</td>
						<td class="text-right">
		                	<a class="btn btn-outline" alt="Visualizar página de venda"><i class="fa fa-shopping-cart"></i></a>
		                	<a class="btn btn-outline" data-toggle="dropdown"><i class="fa fa-gears"></i></a></td>
		            </tr>
		            <tr>
		                <td>1</td>
		                <td>10/05/2015 22:17</td>
		                <td>Vendendo</td>
		                <td>P250 | Valence</td>
						<td class="text-right">
		                	<a class="btn btn-outline" alt="Visualizar página de venda"><i class="fa fa-shopping-cart"></i></a>
		                	<a class="btn btn-outline" data-toggle="dropdown"><i class="fa fa-gears"></i></a></td>
		            </tr>
		    </table>
		    
          </div>
          <!-- /Row -->
        
        </div>
        <!-- /Container -->
    </section>
    <!-- /Content Block
    ============================================-->
 
